.grid-container {
  margin: 30px;
  top: 15px;
  bottom: 15px;
  
  background-size:contain;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 2px;
  right: 2px;
  bottom: 15px;
  background-color: blueviolet;
  background-image: url(/../../assets/img/f1.jpg);
 
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.sidenav-container {
  bottom: 15px;
  
}

.sidenav {
  background: inherit;
  top: 15px;
  background-color: #f5fafd;
  
}

.sidenav .mat-toolbar {
  background: inherit;
  bottom: 15px;
  background-color: #080a0a;
  -webkit-text-fill-color: aliceblue;
  
}

.sidenav .mat-toolbar .mat-nav-list{
  position: absolute;
  bottom: 15px;
  text-shadow: -1px -1px 1px #eef0f1(228, 31, 31, 0.1);
  font-style: normal;
}

.mat-toolbar.mat-primary {
  position: absolute;
  top: 0;
  z-index: 1;
  text-shadow: -1px -1px 1px #eef0f1(228, 31, 31, 0.1);
  bottom: 15px;
}

