<div class="row">
    <div class="col s12">
        <div class="card3">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s5">
                        <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
                            <h3 class="title text-center">Contact Us</h3>
                            <p style="text-align:center">contact us for more information an any of our listed services
                                or products and we shall get back to you at earliest </p>
                            <br>
                            <br>
                            <input type="hidden" name="_id" #_id="ngModel"
                                [(ngModel)]="employeeService.selectedEmployee._id">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="name" #name="ngModel"
                                        [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Full Name"
                                        required>

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="email" #name="ngModel"
                                        [(ngModel)]="employeeService.selectedEmployee.email" placeholder=" Email ">

                                </div>
                            </div>


                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="contact" #name="ngModel"
                                        [(ngModel)]="employeeService.selectedEmployee.contact" placeholder="Contact No">

                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="gender" #name="ngModel"
                                        [(ngModel)]="employeeService.selectedEmployee.gender"
                                        placeholder="Comments your idea">

                                </div>

                            </div>
                        </form>
                        <button class="btn btn-primary right"  type="submit" >Submit</button>
                        <button class="btn btn-danger right"  type="reset" >Cancel</button>

                    </div>
                </div>
            </div>


        </div>




    </div>


</div>




<div class="row">

    <div class="col-md-6 ">
        <div class="card text-white bg-danger o-hidden h-76 ">
            <div class="card-body ">
                <h3 >Business Address</h3>
                <span class="far fa-address-card" aria-hidden="true" style="color:white; font-size:16px">: N0.35,
                    Welimada, Bandarawela</span><br>
                <span class="fas fa-mobile-alt" aria-hidden="true" style="color:white;  font-size:16px">:
                    +94111234567</span><br>
                <span class="far fa-envelope" aria-hidden="true" style="color:white; font-size:16px">:
                    harshani.ur@gmail.com</span><br>
            </div>
        </div>
        <br>
        <!--<div class="card text-white bg-danger o-hidden h-50">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            </div>-->

    </div>
</div>