<div class="row">

 
    <div class="sidenav">
        <br>
        <br>
      <a href="#about" id="pill">About</a>
      <a href="#services" id="pill">Services</a>
      <a href="#clients" id="pill">Clients</a>
      <a href="#contact" id="pill">Contact</a>
      

      <!-- <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Menu 1</a></li>
          <li><a href="#">Menu 2</a></li>
          <li><a href="#">Menu 3</a></li>
        </ul> -->
    </div>
 
    


</div>