.flex-c-m {
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.p-l-25, .p-lr-25, .p-all-25 {padding-left: 25px;}

.wrap-pic-w img {width: 100%;
    display: block;
}

.flex-c-m {
	justify-content: center;
	-ms-align-items: center;
    align-items: center;
    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.wrap-slick3-dots {
    width: 11.111111%;
  }

  .p-r-50, .p-lr-50, .p-all-50 {padding-right: 50px;}
  .p-t-33, .p-tb-33, .p-all-33 {padding-top: 33px;}

  .flex-w {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.flex-w {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.size-203 {
    width: 105px;
  }
  .size-204 {
    width: calc(100% - 105px);
  }
  .pos-relative {position: relative;}

  .wrap-slick3-arrows {
    position: absolute;
    z-index: 100;
    width: 83.333333%;
    right: 0;
    top: calc(50% - 20px);
  }
  .flex-sb-m {
	justify-content: space-between;
	-ms-align-items: center;
    align-items: center;
    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}  