<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="http://localhost:4200">Dream Flowers</a>
  <div class="navbar-expand mr-auto">
    <div class="container-fluid">
    <div class="navbar-nav">
      
      <a class="nav-item" routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
      <a class="nav-item" routerLink="/contact" class="nav-link" routerLinkActive="active">Contact</a>
      <a class="nav-item" routerLink="/login" class="nav-link" routerLinkActive="active">Login</a>
      <a class="nav-item" routerLink="/signup" class="nav-link" routerLinkActive="active">Register</a>

    
      
    </div>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>

