.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.carousel-inner img {
    /*-webkit-filter: grayscale(90%);*/
    width: 30%; /* Set width to 100% */
    height: 300px;
    align-content: center;
    /*margin: auto;*/
} 
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

  div.top {
    margin-top: 100px;
    margin-left: 200px;
    padding: 1px 16px;
  }

  div.row {
    margin-left: 200px;
    padding: 1px 16px;
  }

  .card-img-top img{
    max-height:150px;
  }

  .price{
    font-weight:bold;
    font-size: 16px;
  }

  

