.page-footer{
    //position: fixed;
    background-color:#7283a7;
    width: 100%;
    height: 300px;
    //border-color:#337ab7;
    //color: #FFFFFF;
    //color:white;
    
   }
.container{
   color:white;
   
}