
<div class="row">
  <div class="col s12">
    <div class="card1">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #plantsForm="ngForm" (ngSubmit)="onSubmit(plantsForm)">
                <br>
                <br>
                <br>
                <h3 class="title text-center">Manage Plants</h3>
                <h5 class ="text-center">Only you can manage the plants. You must enter the valid details.</h5>
                <br>
                <br>
               
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="plantsService.selectedPlants._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="plantsService.selectedPlants.name" placeholder="Plant Name" required>
                 
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="discription" #name="ngModel" [(ngModel)]="plantsService.selectedPlants.discription" placeholder="Description">
               
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="quantity" #name="ngModel" [(ngModel)]="plantsService.selectedPlants.quantity" placeholder="Quantity">
                
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="use" #name="ngModel" [(ngModel)]="plantsService.selectedPlants.use" placeholder="Plant Use">
          
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(plantsForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!plantsForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col s7">
              <table class="responsive-table highlight">
                  <thead>
                      <br>
                      <br>
                      <br>
                    <tr>
                      <th>Name</th>
                      <th>Discription</th>
                      <th>Quantity</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let pln of plantsService.plants">
                    <td>{{pln.name}}</td>
                    <td>{{pln.discription}}</td>
                    <td>{{pln.quantity}}</td>
                    <td>
                        <a class="action-btn" (click)="onEdit(pln)">
                          <i class="material-icons">edit</i>
                        </a>
                        <a class="action-btn" (click)="onDelete(pln._id,plantsForm)">
                          <i class="material-icons">delete</i>
                        </a>
                      </td>
                  </tr>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>