<p>
  plants works!
</p>

<h1>Manage Plants</h1>
<div class="row">
  <div class="col s12">
    <div class="card1">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #plantsForm="ngForm" (ngSubmit)="onSubmit(plantsForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="plantsService.selectedPlants._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="plantsService.selectedPlants.name" placeholder="Enter full name" required>
                  <label>Name :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="position" #name="ngModel" [(ngModel)]="plantsService.selectedPlants.position" placeholder="Eg : Snr. Developer">
                  <label>Position :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="office" #name="ngModel" [(ngModel)]="plantsService.selectedPlants.office" placeholder="Enter office location">
                  <label>Office :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="salary" #name="ngModel" [(ngModel)]="plantsService.selectedPlants.salary" placeholder="Salary per annum">
                  <label>Salary :</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(plantsForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!plantsForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col s7">
              <table class="responsive-table highlight">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let pln of plantsService.plants">
                    <td>{{pln.name}}</td>
                    <td>{{pln.position}}</td>
                    <td>{{pln.office}}</td>
                    <td>
                        <a class="action-btn" (click)="onEdit(pln)">
                          <i class="material-icons">edit</i>
                        </a>
                        <a class="action-btn" (click)="onDelete(pln._id,plantsForm)">
                          <i class="material-icons">delete</i>
                        </a>
                      </td>
                  </tr>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>